body {
    font-family: monospace;
    user-select: none;
}

#cookie {
    max-width: 120px;
    width: 100%;
}

/* #upgradeButton {
    color: gray;
    background-image: url("../img/upgrade.png");
} */

#upgradeButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

#autoClickButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #upgradeButtonWrapper:hover {
    transform: scale(1.1);
  }

  #upgradeButtonWrapper {
    border: solid black 5px;
    background-color: wheat;
    display: flex;
  }

  .upgradeImg {
    max-width: 30px;
    width: 100%;
    margin: 1em;
  }