body {
    font-family: monospace;
}

#cookie {
    max-width: 120px;
    width: 100%;
}

/* #upgradeButton {
    color: gray;
    background-image: url("../img/upgrade.png");
} */

#upgradeButton {
    background-color: rgb(255, 0, 0); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

#autoClickButton {
    background-color: rgb(255, 0, 0); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }